.features {    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

       

    &__element {        
        //min-width: 23.375rem;
        //max-width: 23.4375rem;
        flex: 100%;
             

        @include breakpoint-up(medium) {
            flex: 50%;
            max-width: 90rem;                                
        }

        .image{                
            height: 19.5rem;            
            background-repeat: no-repeat;
            background-position: center center;
            
            @include breakpoint-down(small) {
                background-size: cover;
            }
            
            @include breakpoint-up(medium) {
                height: 37.5rem;
                                    
            }            
           
            &-transform {                
                background-image: url("/images/mobile/image-transform.jpg");                

                @include breakpoint-up(medium) {
                    background-image: url("/images/desktop/image-transform.jpg");                                       
                }
            }
            &-stand-out {
                background-image: url("/images/mobile/image-stand-out.jpg");                

                @include breakpoint-up(medium) {
                    background-image: url("/images/desktop/image-stand-out.jpg");                    
                }
            }
        }                
        
        .text-wrapper {
            height: 27.375rem;            
            @include breakpoint-up(medium) {                
                height: 37.5rem;                                    
            }
        }

        &__text{            
            text-align: center;            
            
            &:not(.center-text) {
                @include breakpoint-up(medium) {                
                    text-align: left;            
                    
                }
            }

            
        
            
            > h2 {
                
            }
            > p {                
                
            }
            > a {
                text-transform: uppercase;
                color: $veryDarkDesaturatedBlue;
                font-size: $font-sm;                
            }
        }

        .photo_text {
            height: 37.5rem;
            align-items: flex-end;
        }

    }

    //change position in dekstop view
    #transform_image {
        order: 1;
        
        @include breakpoint-up(large) {
            order: 2;                    
        }
    }

    #transform_text {
        order: 2;
        @include breakpoint-up(large) {
            order: 1;                    
        }
    }

    #stand-out_image {
        order: 3;
    }

    #stand-out_text {
        order: 4;
    }

    //last 2 items
    #graphic_design {
        order: 5;        
        background-image: url("/images/mobile/image-graphic-design.jpg");

        @include breakpoint-up(medium) {
            background-image: url("/images/desktop/image-graphic-design.jpg");
        }
    }

    #photography {
        order: 6;        
        background-image: url(/images/mobile/image-photography.jpg);

        @include breakpoint-up(medium) {
            background-image: url("/images/desktop/image-photography.jpg");
        }
    }

    #photography, #graphic_design {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center; 
        
    }

}