@use "variables" as var;
@use "mixins" as mix;

.footer {
    background-color: var.$footerBackgroundCyan;
    height: 21.875rem;
    padding-top: 3.9375rem;
    text-align: center;

    &__logo {
        img {
            width: 10.75rem;
            height: auto;  
        }

        margin-bottom: 2.625rem;
    }

    &__links {        
        
        max-width: 23.4375rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5.6875rem;

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
            li {
                display: inline;
            }
        }

        a {
            color: var.$darkModerateCyan;
            font-size: 1rem;
            transition: color 250ms ease-in-out;

            &:hover {
                color: var.$white;
            }
        }
    }

    &__socials {        
        max-width: 23.4375rem;
        margin: 0 auto;
        
        ul {
            padding: 0;
            list-style: none;

            li {
                display: inline;
                
            }
        }

        a {
            padding: 0.9375rem; 
        }
        .icon {            
            path {                
                transition: all 250ms ease-in-out;
            }
            &:hover {
                path {
                    fill: var.$white;
                }
            }                   
        }
        
        

    }
}
