html {
    font-size: 100%;
    box-sizing: border-box;    
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: $font-md;
    color: $darkGrayishBlue;
    line-height: 1.3;
}

a, a:visited, a:hover {
    text-decoration: none;
    font-family: 'Fraunces', serif;    
}

.text_big {
    
    font-weight: 700;
    &-max {        
        font-weight: 900;
    }
}

//Flexbox

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    
    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

}

//Buttons

button, .button {
    padding: 1.25rem 2.0625rem;
    background-color: $white;
    font-family: 'Fraunces', serif;
    font-size: $font-xs;
    color: $veryDarkDesaturatedBlue;    
    text-align: center;   
    border-radius: 35px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

//Visibility
.hide-for-mobile {
    //hide for tablet or mobile
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop or laptop
    @include breakpoint-up(large) {
        display: none;
    }
}

.container {
    margin: 0 auto;
    max-width: 90rem;
}

//headers
h1, h2, h3 {
    font-family: 'Fraunces', serif;
}

h2 {
    color: $veryDarkDesaturatedBlue;
    padding: 0;
    margin: 0;
}

p{
    font-size: $font-sm;    
}

//center text helper

.center-text {
    text-align: center;
}