@use "variables" as var;
@use "mixins" as mix;

.testimonials {
    padding-top: 4.25rem;
    padding-bottom: 5.625rem;

    @include mix.breakpoint-up(xlarge) {
        padding: 10.125rem 6.375rem;
    }

    &__headline {
        text-align: center;
        text-transform: uppercase;        
        > h3 {
            font-size: 0.8125rem;
            font-weight: 900;
            letter-spacing: 0.3125rem;
            color: var.$grayishBlue;

            @include mix.breakpoint-up(medium) {
                font-size: 1.125rem;
            }
        }
    }

    .elements-wrapper {
        display: flex;
        flex-wrap: wrap;    
        justify-content: center;    
        align-items: center;

        @include mix.breakpoint-up(medium) {
            align-items: flex-start;
        }
    }

    &__element {        
        flex: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 4.25rem;
        text-align: center;

        @include mix.breakpoint-up(medium) {
            flex: 33.33%;
        }
    }

    &__image {
        > img {
            border-radius: 50%;
            height: 4.5rem;
            width: auto;
        }
    }

    &__text {
        padding: 2.375rem 1.1875rem;
        flex: 2;
        @include mix.breakpoint-up(large){
            height: 14rem;
            padding: 4rem 1.1875rem;
        }
    
        > p {
            font-size: 1.0625rem;
            color: var.$veryDarkGrayishBlue;
            line-height: 1.8;
            
        }
    }
   

    &__name {
        font-family: var.$fraunces;
        font-weight: 900;
        color: var.$veryDarkDesaturatedBlue;
        margin-top: 0;
        margin-bottom: 1rem;
        
    }

    &__title {
        margin: 0;
        font-size: 0.875rem;
        color: var.$grayishBlue;
    }
}